@font-face {
  font-family: "Segoe-ui";
  src: url("./assets/fonts/Segoe%20UI.woff") format("woff");
}

:root {
  font-family: "Segoe-ui", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
}

*{
  margin: 0;
}

button{
  background-color: #fff;
}