@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe-ui";
  src: url("./assets/fonts/Segoe%20UI.woff") format("woff");
}

:root {
  font-family: "Segoe-ui", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
}

*{
  margin: 0;
}

button{
  background-color: #ffffff1c;
  border: 1px solid #ffffff24;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  
}

.container {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.comp:hover{
  background-color: #ffffff20;
}