div{
  background-image: url("/src/images/bg/login-bg.webp");
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

h1{
  margin: 0;
  font-size: 6em;
}
