.mainContainer{
  background-image: url("/src/images/bg/login-bg.webp");
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  margin: 0;
  font-size: 7em;
  margin-top: 2%;
}

.loginContainer{
  background-image: url("/src/images/bg/login-bg.webp");
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: loginEntry 0.5s linear;
  margin-top: -100vh;
  
}
.loginContainer::after{
  content: '';
  background-color: #ffffff00;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.content{
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
}

.profile{
  background-image: url("/src/images/profile.webp");
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9999px;
  animation: scaleUp 0.5s;
}

.name{
  font-size: 2em;
  animation: scaleUp 0.5s;
}

.enter{
  padding: 10px 20px;
  animation: scaleUp 0.5s;

}

.footer{
  position: fixed;
  bottom: 0;
}

@keyframes loginEntry {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes scaleUp {
  0%{
    transform: scale(0.8);
  }

  100%{
    transform: scale(1);

  }

}

