.mainContainer{
  background-image: url("/src/images/bg/login-bg.webp");
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  margin: 0;
  font-size: 7em;
  margin-top: 2%;
}

.loginContainer{
  background-image: url("/src/images/bg/login-bg.webp");
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}
.loginContainer::after{
  content: '';
  background-color: #ffffff00;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.content{
  z-index: 10;
}

.profile{
  background-image: url("/src/images/profile.webp");
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9999px;
}



